<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4"
        "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="org.tcotool.core.runtime" version="0.0.1"
        class="org.tcotool.core.runtime.ApplicationPlugin">
    <runtime>
        <library id="core" path="target/classes/" type="code">
            <!--doc caption="API documentation">
                <doc-ref path="api/index.html" caption="javadoc"/>
            </doc-->
            <export prefix="*"/>
        </library>
    </runtime>

    <extension-point id="Menu" extension-multiplicity="none">
        <doc caption="MenuItem extension point">
            <doc-text><![CDATA[abstract menu-item entry extension point]]></doc-text>
        </doc>
        <!-- concrete Plugin-class -->
        <parameter-def id="class"/>
        <!-- properties-key of MenuItem.text (define <class>/resources/<class>.properties -->
        <parameter-def id="textKey" type="string"/>
        <!-- properties-key of MenuItem.toolTipText -->
        <parameter-def id="descriptionKey" type="string" multiplicity="none-or-one"/>
        <!-- images, *.properties -->
        <parameter-def id="icon" multiplicity="none-or-one"/>
        <!-- show a Separator-line (JSeparator) before Menu-Entry -->
        <parameter-def id="hasLeadingSeparator" type="boolean"/>
    </extension-point>

    <extension-point id="ReportTco" parent-point-id="Menu">
        <doc caption="MenuBar extension point">
            <doc-text>
                <![CDATA[add a TCO report to Menu->Reports->TCO and corresponding NavTree-Popup-Menu]]></doc-text>
        </doc>
    </extension-point>

    <extension-point id="ReportFinance" parent-point-id="Menu">
        <doc caption="MenuBar extension point">
            <doc-text>
                <![CDATA[add a financial report to Menu->Reports->Finance and corresponding NavTree-Popup-Menu]]></doc-text>
        </doc>
        <!-- Menu-Entry relevant for TcoPackage (true), Service (false) or null (TcoPackage || Service) -->
        <parameter-def id="isGroupSpecific" type="boolean"/>
    </extension-point>

    <extension-point id="Extras" parent-point-id="Menu">
        <doc caption="MenuBar extension point">
            <doc-text><![CDATA[add any extras to Menu->Extras]]></doc-text>
        </doc>
    </extension-point>

    <!--extension-point id="Menu">
        <parameter-def id="parent-menu" multiplicity="none-or-one" type="extension-id" custom-data="some.plugin.id@Menu";>
        <parameter-def id="parent-group-id"/>
        </parameter-def>
        <parameter-def id="item-group" multiplicity="any">
        <parameter-def id="item" multiplicity="any">
        <parameter-def id="type"/>
        </parameter-def>
        </parameter-def>
        <parameter-def id="separator" multiplicity="any" type="null"/>
    </extension-point-->
</plugin>