<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4"
        "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="ch.softenvironment.tcotool.tco" version="0.0.1"
        class="ch.softenvironment.tcotool.tco.SEPlugin">
    <requires>
        <import plugin-id="org.tcotool.core.runtime"/>
    </requires>
    <runtime>
        <library id="seTco" path="classes/" type="code">
            <export prefix="*"/>
        </library>
        <!--library type="resources" path="resources/" id="propertiesAndIcons"/-->
        <library type="resources" path="resources/" id="rsc"/>
    </runtime>

    <extension plugin-id="org.tcotool.core.runtime" point-id="ReportTco" id="tcoDirect">
        <parameter id="class" value="ch.softenvironment.tcotool.tco.SEPlugin"/>
        <parameter id="textKey" value="MniReportTcoDirectIndirect_text"/>
        <parameter id="icon" value="MenuIcon.png"/>
        <parameter id="hasLeadingSeparator" value="false"/>
        <!--parameter id="isGroupSpecific" value="true"/-->
    </extension>
    <extension plugin-id="org.tcotool.core.runtime" point-id="ReportTco" id="tcoEstimated">
        <parameter id="class" value="ch.softenvironment.tcotool.tco.SEPlugin"/>
        <parameter id="textKey" value="MniReportTcoEstimated_text"/>
        <parameter id="icon" value="MenuIcon.png"/>
        <parameter id="hasLeadingSeparator" value="false"/>
        <!--parameter id="isGroupSpecific" value="true"/-->
    </extension>

    <extension plugin-id="org.tcotool.core.runtime" point-id="ReportTco" id="dependencyDetailsAll">
        <parameter id="class" value="ch.softenvironment.tcotool.tco.SEPlugin"/>
        <parameter id="textKey" value="MniReportTcoDepenendencyDetailsAll_text"/>
        <parameter id="icon" value="MenuIcon.png"/>
        <parameter id="hasLeadingSeparator" value="false"/>
        <!--parameter id="isGroupSpecific" value="true"/-->
    </extension>
    <extension plugin-id="org.tcotool.core.runtime" point-id="ReportTco" id="dependencyDetails">
        <parameter id="class" value="ch.softenvironment.tcotool.tco.SEPlugin"/>
        <parameter id="textKey" value="MniReportTcoDepenendencyDetails_text"/>
        <parameter id="icon" value="MenuIcon.png"/>
        <parameter id="hasLeadingSeparator" value="false"/>
        <!--parameter id="isGroupSpecific" value="true"/-->
    </extension>
    <extension plugin-id="org.tcotool.core.runtime" point-id="ReportTco" id="pricing">
        <parameter id="class" value="ch.softenvironment.tcotool.tco.SEPlugin"/>
        <parameter id="textKey" value="MniReportPricing_text"/>
        <parameter id="icon" value="MenuIcon.png"/>
        <parameter id="hasLeadingSeparator" value="false"/>
        <!--parameter id="isGroupSpecific" value="true"/-->
    </extension>
</plugin>